<div *ngIf="version">
    <h2>
        <button class="btn btn-back" [routerLink]="['/applications', appId]"></button>
        <span>{{applicationName}} > {{version.name}}</span>
    </h2>
    <div>
        <div class="form-group">
            <label for="versionName">Version Name</label>
            <input [(ngModel)]="version.name" type="text" class="form-control" id="versionName" required>
            <small id="versionNameHelp" class="form-text text-muted">Required</small>
        </div>
        <div class="form-group">
            <label>Enable</label>
            <select [(ngModel)]="version.enable" type="text" class="form-select" required>
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
            <small id="versionEnableHelp" class="form-text text-muted">Required</small>
        </div>
        <br />

        <div class="card">
            <div class="card-body">
                <div class="card-text ">
                    <h3 class="mt-3">URL
                        <button class="btn btn-secondary btn-sm float-end" (click)="addURL()">Add URL</button>
                    </h3>
                    <div>
                        <div class="row mb-3" *ngFor="let url of version.urls" [class.d-none]="url.disabled">

                            <div class="col-md-11">
                                <input [(ngModel)]="url.url" type="text" class="form-control" id="versionName">
                            </div>

                            <div class="col-md-1">
                                <button class="btn btn-secondary" (click)="remove(url)">X</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br />

        <div class="card  ">
            <div class="card-body">
                <div class="card-text ">
                    <h3 class="mt-3">Cookies
                        <button class="btn btn-secondary btn-sm float-end" (click)="addCookie()">Add Cookie</button>
                    </h3>
                    <div>
                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                Name Regex
                            </div>
                            <div class="form-group col-md-5">
                                HttpOnly
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row mb-2" *ngFor="let cookie of version.cookies" [class.d-none]="cookie.disabled">
                            <div class="form-group col-md-6">
                                <input [(ngModel)]="cookie.nameRegex" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-5">
                                <select [(ngModel)]="cookie.httpOnly" class="form-select">
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div>

                            <div class="col-md-1">
                                <button class="btn btn-secondary" (click)="remove(cookie)">X</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br />
    <button class="btn btn-primary" (click)="save()">Save Version</button>
</div>