.btn-back{
    background-image: url('/assets/back.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 2rem;
    margin-right: 1rem;
}

 